@model IEnumerable<news.Models.Article>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="/Admin/Create">Create New Article</a>
</p>
<table class="table" id="hej">
    <tr>
        <th>
            S.No
        </th>
        <th>
            Heading
        </th>
        <th>
            Author
        </th>
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th>
            Image URL
        </th>
        <th>
            Video URL
        </th>
        <th>
            Source URL
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ArticleId
            </td>
            <td>
                @item.Heading
            </td>
            <td>
                @item.User.UserName
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.ImgAdress
            </td>
            <td>
                @item.VideoAdress
            </td>
            <td>
                @item.SourceAdress
            </td>

            <td>
                <form method="post" action="/Admin/Edit/@item.ArticleId">
                    <input type="hidden" value="@item.ArticleId" name="name" />
                    <input type="submit" value="Edit" />
                </form>

                <form method="post" action="/Admin/Delete/@item.ArticleId">
                    <input type="hidden" value="@item.ArticleId" name="name" />
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>

<p>
    <a href="/Default/Index">Back to Articles</a>
</p>
